# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/

# venv
.venv/
venv/

# macOS
.DS_Store

# caches
.hf_cache/
.cache/
**/.cache/

# Chroma persistent DB (do NOT commit)
data/chroma/
**/chroma.sqlite3

# Streamlit
.streamlit/

# logs
*.log
.env
.idea/
